version: '3'
services:
  database:
    build:
      context: ./docker/database
      dockerfile: Dockerfile
    ports:
      - "5432:5432"
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    expose:
      - "3000"
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    command: 'puma -p 3000'
